<div class="field-unit field-unit--<%= attribute.html_class %> administrate-filterable__field">
  <%= label_tag attribute.attribute, attribute.attribute.to_s.humanize, class: "field-unit__label" %>
  <div class="administrate-filterable__date-range">
    <%= date_field_tag "#{attribute.attribute}_from", nil, placeholder: "From" %>
    <%= date_field_tag "#{attribute.attribute}_to", nil, placeholder: "To" %>
  </div>
</div>
